@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;

  background-color: transparent;
  padding: 0.5rem;
  border-radius: 0.125rem;
  border: none;

  transition: 0.3s ease;

  &:hover {
    background-color: #f2f2f2;
  }
}

label {
  font-size: 0.875rem;
  color: #bcbcbc;
}

input {
  border: none;
  border-bottom: 2px solid #bcbcbc;
  background-color: transparent;
  padding: 0.125rem 0.5rem;
  width: 100%;

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: #bcbcbc;
  }
}

textarea {
  padding: 0.5rem 1rem;
  min-height: 10rem;
  min-width: 100%;
  border: 2px solid #bcbcbc;
  border-radius: 0.5rem;

  &:focus {
    outline: none;
  }
}

/* REUSABLE CLASSES */
.non-visible {
  display: none;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.min-w {
  min-width: 6rem;
}

/* SCROLL */
::-webkit-scrollbar {
  width: 0.5rem;
  border-radius: 1rem;
  background-color: #f6f6f6;
}

::-webkit-scrollbar-thumb {
  background-color: #bcbcbc;
  border-radius: 1rem;
}

::-webkit-scrollbar-button,
::-webkit-scrollbar-track {
  display: none;
}
